!!!
%html
  %head
    %meta{charset: "UTF-8"}/
    %meta{content: "HTML, CSS, XML, XHTML, JavaScript", name: "keywords"}/
    %meta{content: "Free Web tutorials on HTML and CSS", name: "description"}/
    %title
      Website
  %body
    .container
      #nesteddivs
        .large-4.columns
          #midctent
            %h1 Start Working Out
            %p#div1 Through time and dedication you can improve on your physical lifestyle and get a twelve pack--GGThrough time and dedication you can improve on your physical lifestyle and get a twelve pack-Through time and dedication you can improve on your physical lifestyle and get a twelve pack-Through time and dedication you can improve on your physical lifestyle and get a twelve pack-
          %h1.workout Start Working Out
          %p Through time and dedication you can improve on your physical lifestyle and get a twelve pack--GGThrough time and dedication you can improve on your physical lifestyle and get a twelve pack-Through time and dedication you can improve on your physical lifestyle and get a twelve pack-Through time and dedication you can improve on your physical lifestyle and get a twelve pack-
          %h1.workout Start Working Out
          %p Through time and dedication you can improve on your physical lifestyle and get a twelve pack--GGThrough time and dedication you can improve on your physical lifestyle and get a twelve pack-Through time and dedication you can improve on your physical lifestyle and get a twelve pack-Through time and dedication you can improve on your physical lifestyle and get a twelve pack-
        .large-4.columns
          %aside#rightside
            %h1 Look like him
            %center
              %p
                %object{height: "240", width: "320"}
                  %param{name: "movie", value: "//www.youtube.com/v/wcmizNnM1n8?hl=en_US&version=3"}/
                  %param{name: "allowFullScreen", value: "true"}/
                  %param{name: "allowscriptaccess", value: "always"}/
                  %embed{allowfullscreen: "true", allowscriptaccess: "always", height: "240", src: "//www.youtube.com/v/wcmizNnM1n8?hl=en_US&version=3", type: "application/x-shockwave-flash", width: "320"}
            %p hardwork and dedication can lead to great things.
            %h1 Look like him
            %center
              %object{height: "240", width: "320"}
                %param{name: "movie", value: "//www.youtube.com/v/wcmizNnM1n8?hl=en_US&version=3"}/
                %param{name: "allowFullScreen", value: "true"}/
                %param{name: "allowscriptaccess", value: "always"}/
                %embed{allowfullscreen: "true", allowscriptaccess: "always", height: "240", src: "//www.youtube.com/v/wcmizNnM1n8?hl=en_US&version=3", type: "application/x-shockwave-flash", width: "320"}
            %p hardwork and dedication can lead to great things.       
    #botcont
      .row
        .lard-12.columns
          .large-4.columns
            %h2#workoutmain Get Dwayne Big
            %p#change pack-Throughgh time and dedication you can improve on your physical lifestyle and get a twelve pack--GGThrough time and dedication you can improve on your physical lifestyle and get a twelve pack-Through time and dedication you can improve on your physical lifestyle and get a twelve pack-Through time and dedication you can improve on your physical lifestyle and get a twelve pack-
          .large-4.columns
            %h1.workout Start Working Out
            %p Through time and dedication you can improve on your physical lifestyle and get a twelve pack--GGThrough time and dedication you can improve on your physical lifestyle and get a twelve pack-Through time and dedication you can improve on your physical lifestyle and get a twelve pack-Through time and dedication you can improve on your physical lifestyle and get a twelve pack-
          .large-4.columns
            %h1.workout Start Working Out
            %p Through time and dedication you can improve on your physical lifestyle and get a twelve pack--GGThrough time and dedication you can improve on your physical lifestyle and get a twelve pack-Through time and dedication you can improve on your physical lifestyle and get a twelve pack-Through time and dedication you can improve on your physical lifestyle and get a twelve pack-
            %button{onclick: "methodman()"} javaaaaa
            %button{onclick: "myFunction2()"} Javaaaa2222
    .row
      %footer
        #botlinkwrap
          .large-3.columns
            .ulbot
              %h3.foothead Related Links
              %ul
                %li.list2end
                  %a{href: "#"} About
                %li#list2
                  %a{href: "#"} ul1
                %li#list2
                  %a{href: "#"} Forum
          .large-3.columns
            .ulbot
              %h3.foothead Related Links
              %ul
                %li.list2end
                  %a{href: "#"} About
                %li#list2
                  %a{href: "#"} ul2
                %li#list2
                  %a{href: "#"} Forum
          .large-3.columns
            .ulbot
              %h3.foothead Related Links
              %ul
                %li.list2end
                  %a{href: "#"} About
                %li#list2
                  %a{href: "#"} ul2
                %li#list2
                  %a{href: "#"} Forum
          .large-3.columns
            .ulbotend
              %h3#foothead Related Links
              %ul
                %li.list2end
                  %a{href: "#"} About
                %li#list2
                  %a{href: "#"} ul3
                %li#list2
                  %a{href: "#"} Forum
        .copyright
          Copyright © 2007-2008. All rights reserved.
    