.small-8.columns.data-equalizer-watch.panel
  .small-6.columns#midz
    #midctent
      %h1 Start Working Out
      %p#div1 Through time and dedication you can improve on your physical lifestyle and get a twelve pack--GGThrough time and dedication you can improve on your physical lifestyle and get a twelve pack-Through time and dedication you can improve on your physical lifestyle and get a twelve pack-Through time and dedication you can improve on your physical lifestyle and get a twelve pack-
    %h1.workout Start Working Out
    %p Through time and dedication you can improve on your physical lifestyle and get a twelve pack--GGThrough time and dedication you can improve on your physical lifestyle and get a twelve pack-Through time and dedication you can improve on your physical lifestyle and get a twelve pack-Through time and dedication you can improve on your physical lifestyle and get a twelve pack-
    %h1.workout Start Working Out
    %p Through time and dedication you can improve on your physical lifestyle and get a twelve pack--GGThrough time and dedication you can improve on your physical lifestyle and get a twelve pack-Through time and dedication you can improve on your physical lifestyle and get a twelve pack-Through time and dedication you can improve on your physical lifestyle and get a twelve pack-
  .small-6.columns
    %aside#rightside
      %h1 Look like him
      %center
        %p
          %object{height: "240", width: "320"}
            %param{name: "movie", value: "//www.youtube.com/v/wcmizNnM1n8?hl=en_US&version=3"}/
            %param{name: "allowFullScreen", value: "true"}/
            %param{name: "allowscriptaccess", value: "always"}/
            %embed{allowfullscreen: "true", allowscriptaccess: "always", height: "240", src: "//www.youtube.com/v/wcmizNnM1n8?hl=en_US&version=3", type: "application/x-shockwave-flash", width: "320"}
      %p hardwork and dedication can lead to great things.
      %h1 Look like him
      %center
        %object{height: "240", width: "320"}
          %param{name: "movie", value: "//www.youtube.com/v/wcmizNnM1n8?hl=en_US&version=3"}/
          %param{name: "allowFullScreen", value: "true"}/
          %param{name: "allowscriptaccess", value: "always"}/
          %embed{allowfullscreen: "true", allowscriptaccess: "always", height: "240", src: "//www.youtube.com/v/wcmizNnM1n8?hl=en_US&version=3", type: "application/x-shockwave-flash", width: "320"}
      %p hardwork and dedication can lead to great things.       
#botcont
  .small-12.columns
    .small-4.columns
      %h2#workoutmain Get Dwayne Big
      %p#change pack-Throughgh time and dedication you can improve on your physical lifestyle and get a twelve pack--GGThrough time and dedication you can improve on your physical lifestyle and get a twelve pack-Through time and dedication you can improve on your physical lifestyle and get a twelve pack-Through time and dedication you can improve on your physical lifestyle and get a twelve pack-
    .small-4.columns
      %h1.workout Start Working Out
      %p Through time and dedication you can improve on your physical lifestyle and get a twelve pack--GGThrough time and dedication you can improve on your physical lifestyle and get a twelve pack-Through time and dedication you can improve on your physical lifestyle and get a twelve pack-Through time and dedication you can improve on your physical lifestyle and get a twelve pack-
    .small-4.columns
      %h1.workout Start Working Out
      %p Through time and dedication you can improve on your physical lifestyle and get a twelve pack--GGThrough time and dedication you can improve on your physical lifestyle and get a twelve pack-Through time and dedication you can improve on your physical lifestyle and get a twelve pack-Through time and dedication you can improve on your physical lifestyle and get a twelve pack-
      %button{onclick: "methodman()"} javaaaaa
      %button{onclick: "myFunction2()"} Javaaaa2222

