/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 
 *= require_self
 *= require fullcalendar
 *= require_tree .


 */
/*.form-inputs{
	width: 300px;
	float: left;
	margin-left: 300px;
}*/
.panel.radius{
	
}'
#showinfo{

	width: 300px;
}

#underline{
	border-bottom: 2px solid;
}
#showinfo{
	width: 70%;
	display: inline-block;
}
.hidden{
	display: none;
}
.leftside.columns{
	height: 1000px;
}
.nestedstuff{
	display: inline-block;
	width: 250px;
}
.fieldsx{
	width: 400px;
	display: inline-block;
	
}
.huge{

	font-size: 30px;
	margin-left: 70px;
}
.huge2{

	font-size: 30px;
	margin-left: 35px;
}
#repsme{
	margin-right: 200px;
}
#weightme{

	margin-left: 600px;
	margin-bottom: 80000;
}
.add.add_fields{

	margin-right: 300px;
}
#orders_chart{
	margin-left: 200px;
	display: inline-block;
	width: 560px;
	height: 300px;
}
.field.smaller{


width: 100px;

}
.form{
	display: inline-block;
}
#manpower{
	width: 300px;
}
.margins2
{

margin-top: 50px;
}
.float{
	float: left;
}
.planwork{
	display: inline-block;
	width: 400px;
}
.field{
	width: 400px;
	
	
}

.fiel{
width: 400px;
}
.modfield{
	width: 400px;

	display: inline-block;
	
}
.nestedstuff{
	margin-bottom: 30px;
}

.add a{
	margin-top: 10px;
	margin-left: 60px;
}
.set-input{
	width: 300px;
	margin-right: 0px;
}
.add{
	display: inline-block;
	font-size: 40px;
	font-weight: bold;
}
.nested{
	margin-left: 280px;
	float: left;
}
.setbar{
	width: 100px;
}
.sign{
	display: inline-block;
}
.seth{
font-size: 20px;
}

#img{height: 1000px;}