/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

 *= require_self
 *= require fullcalendar
 *= require jquery.ui.all
 *= require_tree .


 */
/*.form-inputs{
	width: 300px;
	float: left;
	margin-left: 300px;
}*/
.leftside li{

margin-bottom: 65px;
list-style: none;
}
.leftside a{
font-size: 20px;

text-decoration: none;
list-style: none;

}
.leftside a:hover
{
color: green;



}

div.leftside
{
border: solid;
border-radius: 25px;
padding-left: 0px;
padding-right: 0px;
}