@import "foundation/components/grid"
.button
  background-color: black
  border-radius: em-calc(5)
  font-family: 'Karla', Sans-serif
  a
    color: white

.button:hover
  background-color: grey
p.button
  color: white
  display: inline-block
.row.data-equalizer.border
  background-color: white
.text-center
  text-align: center
.entire
  height: 1100px
#remove
  margin-left: 120px
.border
  border-left: 4px solid #9b9b9b
  border-right: 4px solid #9b9b9b
.borderm
  border-bottom: 4px solid #9b9b9b
  border-left: 4px solid #9b9b9b
  border-right: 4px solid #9b9b9b
.hidden
  display: none
.pix
  height: 18px
.center
  margin-left: 95px
#custom
  border-bottom: 2px solid #9b9b9b
  border-left: 2px solid #9b9b9b
  border-right: 2px solid #9b9b9b
.mtop
  margin-top: 50px
#heighz
  height: 54px
.inline
  display:inline-block
.xtop
  margin-top: 30px
#blues
  background-color: #000000  
  background-repeat: repeat
  padding: 30px

.bodyheight
  height: 1000px
#botBG.row
  border-left: 4px solid #9b9b9b
  border-right: 4px solid #9b9b9b
  background-color: black
  border-top: solid
  border-bottom: solid
  padding-bottom: 35px
  padding-top: 35px
.topBG
  
  background-repeat: repeat-x
  width: 100%
  
  position: absolute
  z-index: 5000
  font-family:Arial
.leftside li
  color:white
  padding-bottom: 65px
  list-style: none
#footer a:hover
  color:red
.leftside a
  color: white
  font-size: 20px
  text-decoration: none
  list-style: none
.leftside a:hover
  color: white
.main
  height: 100%
.leftside
  color: black
  background-color: black
  margin-top: -50px
  height: 1400px
  padding-left: 0px
  padding-right: 0px
  padding-bottom: 0px
  padding-top: 35px
  margin-bottom: 0px
  margin-top: 0px