<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="keywords" content="HTML, CSS, XML, XHTML, JavaScript">
	<meta name="description" content="Free Web tutorials on HTML and CSS">
	<link rel="stylesheet" type="text/css" href="foundation.css">
	<!--<meta http-equiv="refresh" content="30"-->
	<link rel="stylesheet" type="text/css" href="normalize.css">
	<link rel="stylesheet" type="text/css" href="test.css">

	<!--<script type="text/javascript" src="Testiiiiiiiidelete.js"></script>
	<script type="text/javascript" src="javascript.js"></script>
	<script type="text/javascript">-->


	</script>
	<title>
		Website
	</title>
</head>


<body>	
	<div class="container">

		<header>
			<div class = "large-12 columns">
				<img id="banner" src="/Users/kyn3/Desktop/WebsiteCode/images/banner.jpg">
				<nav>
					<ul id="topss">
		        <li class="end"><a href="#">About</a></li>
		        <li id="list1"><a href="#">Contact Info </a></li>
		        <li id="list1"><a href="#">Forum</a></li>
		        <li id="list1"><a href="signin.html">Sign In</a></li>
		        <p id="demo"></p>

						<hr>
					</ul>
				</nav>
			</div>
		</header>

		<ul class="my-orbit" data-orbit>
			<li>
			  <img src="/Users/kyn3/Desktop/WebsiteCode/images/rock.jpg" alt="slide 1"/>
			  <div class="orbit-caption">
			  	Caption One.
			  </div>
			</li>
			<li>
			  <img src="/Users/kyn3/Desktop/WebsiteCode/images/rock.jpg" alt="slide 2"/>
				<div class="orbit-caption">
			  	Caption Two.
			  </div>
			</li>
			<li>
			  <img src="/Users/kyn3/Desktop/WebsiteCode/images/rock.jpg" alt="slide 3"/>
			  <div class="orbit-caption">
			  	Caption Three.
			  </div>
			</li>
			<li>
			  <img src="/Users/kyn3/Desktop/WebsiteCode/images/rock.jpg" alt="slide 4"/>
			  <div class="orbit-caption">
			  	Caption Four.
			  </div>
			</li>
		</ul>

		<!-- <section id= "celebimages">
			<div class = "large-12 columns">
				<img id="rockmanend" src="/Users/kyn3/Desktop/WebsiteCode/images/rock.jpg">
				<img id="rockman" src="/Users/kyn3/Desktop/WebsiteCode/images/rock.jpg">
				<img id="rockman" src="/Users/kyn3/Desktop/WebsiteCode/images/rock.jpg">
				<img id="rockman" src="/Users/kyn3/Desktop/WebsiteCode/images/rock.jpg">
			</div>
		</section> -->


		<div id="nesteddivs">

			<div class = "large-12 columns">
				<div class = "large-4 columns">
					<div class = "leftside">
						<ul id="topss2">
							<li><a href="test.html">Homepage</a></li>
							<li><a href="#">Your Supplements</a></li>
							<li><a href="#">Diet plans </a></li>
							<li><a href="#">Track Your Calories</a></li>
							<li><a href="#">Personal fitness advice</a></li>
							<li><a href="celeb.html">Celebrities and their secrets</a></li>
							<li><a href="#">Legendary Workout Plans</a></li>
							<li><a href="#">Enter Your Stats</a></li>
							<li id="botlist"><a href="#">Calorie/Carb counter</a></li>
						</ul>
					</div>
				</div>

				<div class = "large-4 columns">
					<aside id="rightside">
						<h1>Look like him</h1>
						<center><video width="320" height="240" controls>
							<source src="rockvid.mp4" type="video/mp4">
								Your browser does not support the video tag.
							</video></center>
						</center>
						<p>hardwork and dedication can lead to great things.</p>
						<h1>Look like him</h1>
						<center><object width="320" height="240"><param name="movie" value="//www.youtube.com/v/wcmizNnM1n8?hl=en_US&amp;version=3"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="//www.youtube.com/v/wcmizNnM1n8?hl=en_US&amp;version=3" type="application/x-shockwave-flash" width="320" height="240" allowscriptaccess="always" allowfullscreen="true"></embed></object></center>
						<p>hardwork and dedication can lead to great things.</p>
					</aside>
				</div>



				<div class = "large-4 columns">
					<div id="midctent">

						<h1 >Start Working Out</h1>
						<p id="div1">Through time and dedication you can improve on your physical lifestyle and get a twelve pack--GGThrough time and dedication you can improve on your physical lifestyle and get a twelve pack-Through time and dedication you can improve on your physical lifestyle and get a twelve pack-Through time and dedication you can improve on your physical lifestyle and get a twelve pack-</p>
					</div>

					<h1 class="workout">Start Working Out</h1>
					<p>Through time and dedication you can improve on your physical lifestyle and get a twelve pack--GGThrough time and dedication you can improve on your physical lifestyle and get a twelve pack-Through time and dedication you can improve on your physical lifestyle and get a twelve pack-Through time and dedication you can improve on your physical lifestyle and get a twelve pack-</p>
					<h1 class="workout">Start Working Out</h1>
					<p>Through time and dedication you can improve on your physical lifestyle and get a twelve pack--GGThrough time and dedication you can improve on your physical lifestyle and get a twelve pack-Through time and dedication you can improve on your physical lifestyle and get a twelve pack-Through time and dedication you can improve on your physical lifestyle and get a twelve pack-</p>
				</div>
			</div>
		</div>
	</div>

	<div id="botcont">
		<div class="row">
			<div class = "lard-12 columns">
				<div class = "large-4 columns">
					<h2 id="workoutmain">Get Dwayne Big</h2>

					<p id="change">pack-Throughgh time and dedication you can improve on your physical lifestyle and get a twelve pack--GGThrough time and dedication you can improve on your physical lifestyle and get a twelve pack-Through time and dedication you can improve on your physical lifestyle and get a twelve pack-Through time and dedication you can improve on your physical lifestyle and get a twelve pack-</p>
				</div>


				<div class = "large-4 columns">
					<h1 class="workout">Start Working Out</h1>
					<script></script>
					<p>Through time and dedication you can improve on your physical lifestyle and get a twelve pack--GGThrough time and dedication you can improve on your physical lifestyle and get a twelve pack-Through time and dedication you can improve on your physical lifestyle and get a twelve pack-Through time and dedication you can improve on your physical lifestyle and get a twelve pack-</p>
				</div>

				<div class = "large-4 columns">
					<h1 class="workout">Start Working Out</h1>
					<p>Through time and dedication you can improve on your physical lifestyle and get a twelve pack--GGThrough time and dedication you can improve on your physical lifestyle and get a twelve pack-Through time and dedication you can improve on your physical lifestyle and get a twelve pack-Through time and dedication you can improve on your physical lifestyle and get a twelve pack-</p>
					<button onclick="methodman()">javaaaaa</button>
					<button onclick="myFunction2()">Javaaaa2222</button>
				</div>
			</div>
		</div>

	</div>
	<div class="row">
		<footer>
			<div id="botlinkwrap">
				<div class = "large-3 columns">
					<div class="ulbot">
						<h3 class="foothead">Related Links</h3>
						<ul>
							<li class="list2end"><a href="#">About</a></li>
							<li id="list2"><a href="#">ul1 </a></li>
							<li id="list2"><a href="#">Forum</a></li>

						</ul>
					</div>
				</div>

				<div class = "large-3 columns">
					<div class="ulbot">
						<h3 class="foothead">Related Links</h3>
						<ul>
							<li class="list2end"><a href="#">About</a></li>
							<li id="list2"><a href="#">ul2 </a></li>
							<li id="list2"><a href="#">Forum</a></li>

						</ul>
					</div>
				</div>
				<div class = "large-3 columns">
					<div class="ulbot">
						<h3 class="foothead">Related Links</h3>
						<ul>
							<li class="list2end"><a href="#">About</a></li>
							<li id="list2"><a href="#">ul2 </a></li>
							<li id="list2"><a href="#">Forum</a></li>

						</ul>
					</div>
				</div>
				<div class = "large-3 columns">
					<div class="ulbotend">
						<h3 id="foothead">Related Links</h3>
						<ul>
							<li class="list2end"><a href="#">About</a></li>
							<li id="list2"><a href="#">ul3 </a></li>
							<li id="list2"><a href="#">Forum</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="copyright">
				Copyright © 2007-2008. All rights reserved. 
			</div>
		</footer>
		
		
	</div>
</div>

<script src="modernizr.js"></script>

<script src="js/jquery.js"></script>
<script src="js/foundation.min.js"></script>
<script>
$(document).foundation();
</script>


</body>
</html>